body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e5e7eb;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;    
    height: 10%;
    padding: 0 20px 0;
}

section {
    display: flex;
    height: 80%;    
}

#vora_name {
    flex: 1;            
    text-align: center; 
    margin-left: 5%;   
}

#vora_name h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #000;
    margin: 0;
}

.fa-arrow-right-from-bracket{
    font-size: 1.5rem;
}

#input_container {
    display: flex;
    align-items: center; 
    gap: 10px;           
    width: 60%;
    margin: 0 auto; 
}


#chat_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 20px;
    
}

#chat {
    flex: 1;         
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    overflow-y: auto;
    
}

#exit_btn, #reset_chat, #send_btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem; 
    color: #333;
    transition: transform 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#exit_btn:hover, #reset_chat:hover, #send_btn:hover {
    transform: scale(1.1);
    color: #ec007e;
}


#messages_display {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.message {
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.user-message {
    align-self: flex-end;
    background-color: #ec007e;
    color: #fff;
    border-bottom-right-radius: 2px;
    
}


.assistant-message {
    align-self: flex-start;
    background-color: #fff;
    color: #333;
    border-bottom-left-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.fa-arrow-rotate-left {
    font-size: 1.5rem;
     
}